.switch {
    cursor: pointer;
    user-select: none;
    padding: 5px 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    border-radius: 34px;
    min-width: 120px;
    font-weight: bold;
}
.switchValue {
    min-width: 60px;
}
.switchIndicator {
    width: 26px;
    height: 26px;
    background-color: #161616;
    border-radius: 50%;
    transition: 0.5s;
}